.card{
    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 300px;
}

.card__title{
    margin-bottom: 50px;
    color: #333;
}

.card__price{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}